* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  color: #333;
  text-decoration: none;
}
p {
  margin: 10px 0;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}
/* utility-classes */
.container {
  max-width: 1100px;
  padding: 0 20px;
  overflow: auto;
  margin: auto;
}
.text-primary {
  color: #f7c08a;
}
.lead {
  font-size: 20px;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: #f7c08a;
  color: #333;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-primary {
  background: #f7c08a;
  color: #333;
}
.clr {
  clear: both;
}
.l-heading {
  font-size: 40px;
  line-height: 1.2;
}
/* padding */
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* navbar-header */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  padding-top: 20px;
  float: left;
}
#navbar ul {
  float: right;
  list-style: none;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  text-align: center;
  padding: 20px;
  display: block;
}
#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}
/* showcase */
#showcase {
  background: url("../img/room2.jpeg") no-repeat center center/cover;
  height: 600px;
}
.showcase-content {
  text-align: center;
  color: #fff;
  padding-top: 170px;
}
.showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}
.showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* home-info */
#home-info {
  height: 450px;
}
.info-img {
  background: url("../img/hall.jpeg") no-repeat;
  float: left;
  width: 50%;
  min-height: 100%;
}
.info-content {
  text-align: center;
  float: right;
  width: 50%;
  height: 100%;
  padding: 50px 30px;
  overflow: hidden;
}
.info-content p {
  padding-bottom: 30px;
}

/* features-3block */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
.box i {
  margin-bottom: 10px;
}
#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}
.info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}
#testimonials {
  background: url("../img/pool.jpeg") no-repeat center center/cover;
  height: 100%;
  padding-top: 40px;
}
#testimonials h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}
#testimonials .testimonials {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonials img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form label {
  margin-bottom: 5px;
  display: block;
}
#contact-form input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px#ddd solid;
}
#contact-form textarea {
  height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #f7c08a;
  outline: none;
}

/* footer */
#main-footer {
  background: #444;
  text-align: center;
  color: #fff;
  padding: 20px;
}
